::selection {
  background-color: $primary;
  color: $white;
}

[v-cloak] { 
  display: none; 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $heading-color;
  letter-spacing: rem(.4px);
}

body {
  background-color: $body-bg;
  min-height: 100%;
  letter-spacing: rem(.4px);
}

hr {
  background-color: $grey-300;
}

main {
  background-color: $blue-100;
  margin-top: .75rem;
  box-shadow: inset 10px 10px 23px -5px rgba(0,0,0,0.04);
}

.page-main {
  margin: 20px 40px;

  .header {
    margin-bottom: 30px;

    .sub {
      font-weight: normal
    }
  }
}

.link {
  font-size: rem(12px);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.last-saved p {
  font-size: rem(12px);
}
  
