::selection {
  background-color: $primary;
  color: $white;
}

[v-cloak] { 
  display: none; 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $heading-color;
  letter-spacing: rem(.4px);
}

html {
  height: 100%;
}

body {
  background-color: $body-bg;
  min-height: 100%;
  letter-spacing: rem(.4px);
  overflow: hidden;
}

hr {
  background-color: $grey-300;
}

main.main {
  padding-left: 60px;
  display: flex;
}

section.section {
  flex: 1;
  padding: 30px 0;
}

header.header {
  margin-bottom: 30px;
}

.link {
  font-size: rem(12px);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.last-saved p {
  font-size: rem(12px);
}
  
