.accordions {

  .accordion {
    font-weight: bold;
    width: 100%;
    border-right: 1px solid $grey-200;
    border-left: 1px solid $grey-200;

    .accordion-header {
      padding: 25px 20px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $grey-lighter;
      font-size: $size-120;

      &:hover {
        background: $grey-lighter;
      }

      &:after {
        content: '+';
        float: right;
        font-size: rem(14px);
        line-height: 1;
      }
    }

    .accordion-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      font-weight: normal;
      font-size: $size-120;

      .accordion-content {
        background: $grey-200;

        a {
          padding: 20px 30px;
          display: block;

          &:hover,
          &.nuxt-link-exact-active {
            background: $grey-lighter;
          }

          &.nuxt-link-exact-active {
            font-weight: 700;
          }
        }
      }
    }

    &.is-active {
      .accordion-header {
        &:after {
          content: '-';
        }
      }
    }

    &.is-selected {
      .accordion-header {
        background: $grey-light;
        color: $white;
      }
    }
  }
}
