.button.is-flip span,
.button .button-line,
.button {
  transition: all .25s cubic-bezier(.4,.01,.1,1);
}

.button {
  @include ExtraBoldUppercase();
  font-size: rem($size-110);
  color: $body-color;
  border-radius: 0;
  line-height: 3.8;
  padding: 0 26px;
  height: 44px;
  margin: 20px 0;
  border: 0;
  background-color: transparent;
  width: 100%;

  @include mq($from: tablet) {
    width: auto;
  }

  // &:not([disabled]) {
  //   &:hover,
  //   &.is-hovered {
  //     background-color: $primary;
  //     color: $body-color;
  //     box-shadow: none;
  //     border: 0;
  //   }
  // }
  
  // &.is-primary {
  //   background-color: $primary;
  
  //   &:not([disabled]) {
  //     &:hover,
  //     &.is-hovered {
  //       background: $secondary;
  //       color: $white;
  //     }
  //   }
    
  //   &:focus:not(:active),
  //   &:active:not(:focus) {
  //     box-shadow: none;
  //   }
  // }
  
  // &.is-secondary {
  //   background-color: $white;
  //   color: $body-color ;
  
  //   &:hover,
  //   &.is-hovered {
  //     background: $grey-300;
  //     color: $body-color;
  //   }

  //   &.is-loading {
  //     &:after {
  //       border: 2px solid $body-color;
  //       border-right-color: transparent;
  //       border-top-color: transparent;
  //     }
  //   }
    
  //   &:focus:not(:active),
  //   &:active:not(:focus) {
  //     box-shadow: none;
  //   }
  // }

  // &[disabled] {
  //   border: 0;
  // }
}
