.navbar {
  background: $primary;

  .navbar-brand {
    .navbar-brand-logo {
      width: 208px;

      img {
        max-height: 22px;
      }
    }

    .navbar-burger {
      &:hover {
        background: transparent;
      }
    }
  }

  .navbar-brand,
  .navbar-menu {
    .navbar-link {
      @include Bold();
      font-size: rem(12px);
      color: $white;

      &.is-active,
      &:hover {
        // background-color: transparent;
      }

      &:not(.is-arrowless){
        &::after {
          border-color: $white;
        }
      }
    }

    .homepage & {
      .navbar-link {
        color: $white;
      }
    }
  }

  .navbar-item.has-dropdown {
    &:hover,
    &.is-active {
      .navbar-link {
        background-color: whitesmoke;
      }
    }
  }

  .navbar-dropdown {
    border-radius: 0;
    padding: 0;

    a.navbar-item {
      padding: 15px 10px;
      border-bottom: 1px solid $grey-lighter;
      font-size: $size-120;
      font-weight: bold;
    }
  }
}
